In [1]:
from pyspark import SparkContext
sc = SparkContext(master = 'local')

from pyspark.sql import SparkSession
spark = SparkSession.builder \
            .appName("Python Spark SQL Demo") \
            .config("spark.some.config.option", "some-value") \
            .getOrCreate()

In [3]:
spark_df = spark.read.csv("BankChurners.csv", header = True, inferSchema = True)
spark_df.show(5)

+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|   Attrition_Flag|Customer_Age|Gender|Dependent_count|Education_Level|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_Count|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer|          45|     M|              3|    High School|       Married|    $60K - $80K|         Blue|            39|                       5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                         9.3448E-5|                                                                                                                           0.99991|
|818770008|Existing Customer|          49|     F|              5|       Graduate|        Single| Less than $40K|         Blue|            44|                       6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                         5.6861E-5|                                                                                                                           0.99994|
|713982108|Existing Customer|          51|     M|              3|       Graduate|       Married|   $80K - $120K|         Blue|            36|                       4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
|769911858|Existing Customer|          40|     F|              4|    High School|       Unknown| Less than $40K|         Blue|            34|                       3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|                                                                                                                         1.3366E-4|                                                                                                                           0.99987|
|709106358|Existing Customer|          40|     M|              3|     Uneducated|       Married|    $60K - $80K|         Blue|            21|                       5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|                                                                                                                         2.1676E-5|                                                                                                                           0.99998|
+---------+-----------------+------------+------+---------------+---------------+--------------+---------------+-------------+--------------+------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

### SQL Functions

In [4]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

#### abs()

In [5]:
spark_df.select('Customer_Age', abs(spark_df.Customer_Age).alias('abs(Customer_Age)')).show(5)

+------------+-----------------+
|Customer_Age|abs(Customer_Age)|
+------------+-----------------+
|          45|               45|
|          49|               49|
|          51|               51|
|          40|               40|
|          40|               40|
+------------+-----------------+
only showing top 5 rows

#### avg()

In [6]:
spark_df.select(avg(spark_df.Customer_Age).alias('avg(Customer_Age)')).show()

+-----------------+
|avg(Customer_Age)|
+-----------------+
|46.32596030413745|
+-----------------+

#### ceil()

In [8]:
spark_df.select('Avg_Utilization_Ratio', ceil(spark_df.Avg_Utilization_Ratio)).show(5)

+---------------------+---------------------------+
|Avg_Utilization_Ratio|CEIL(Avg_Utilization_Ratio)|
+---------------------+---------------------------+
|                0.061|                          1|
|                0.105|                          1|
|                  0.0|                          0|
|                 0.76|                          1|
|                  0.0|                          0|
+---------------------+---------------------------+
only showing top 5 rows

#### floor()

In [9]:
spark_df.select('Avg_Utilization_Ratio', floor(spark_df.Avg_Utilization_Ratio)).show(5)

+---------------------+----------------------------+
|Avg_Utilization_Ratio|FLOOR(Avg_Utilization_Ratio)|
+---------------------+----------------------------+
|                0.061|                           0|
|                0.105|                           0|
|                  0.0|                           0|
|                 0.76|                           0|
|                  0.0|                           0|
+---------------------+----------------------------+
only showing top 5 rows

#### correlation

In [11]:
spark_df.select(corr(spark_df.Customer_Age, spark_df.Credit_Limit)).show()

+--------------------------------+
|corr(Customer_Age, Credit_Limit)|
+--------------------------------+
|            0.002476227359664691|
+--------------------------------+

#### count

In [12]:
spark_df.select(count(spark_df.Avg_Utilization_Ratio)).show()

+----------------------------+
|count(Avg_Utilization_Ratio)|
+----------------------------+
|                       10127|
+----------------------------+

#### approx_count_distinct

In [16]:
spark_df.select(approx_count_distinct(spark_df.Gender)).show()

+-----------------------------+
|approx_count_distinct(Gender)|
+-----------------------------+
|                            2|
+-----------------------------+

#### array

In [18]:
spark_df_arr = spark_df.select('Gender', array(['Customer_Age', 'Marital_Status', 'Credit_Limit', 'Income_Category']))
spark_df_arr.show(5)

+------+------------------------------------------------------------------+
|Gender|array(Customer_Age, Marital_Status, Credit_Limit, Income_Category)|
+------+------------------------------------------------------------------+
|     M|                                              [45, Married, 126...|
|     F|                                              [49, Single, 8256...|
|     M|                                              [51, Married, 341...|
|     F|                                              [40, Unknown, 331...|
|     M|                                              [40, Married, 471...|
+------+------------------------------------------------------------------+
only showing top 5 rows